.contact_pin_phone:before {
    content: '';
    display: block;
    margin-bottom: 12px;
    margin-left: -5px;
    width: 24px;
    height: 24px;
    background-image: url('../resources/contacts_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .contacts_place {
    width: 1400px;
    height: 548px;
  }
  
  .contact_pin_phone {
    margin-bottom: 32px;
  }
  
  .link_phone {
    font-size: 60px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: -0.8px;
    color: #121212;
    text-decoration: none;
  }
  
  .link_mail {
    margin-top: 30px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    opacity: 0.5;
    letter-spacing: -1.8px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  .link_phone .link_mail:hover {
    color: #121212;
    opacity: 0.5;
    text-decoration: underline;
  }
  
  .mail_line {
    margin-top: 28px;
  }